<!DOCTYPE html>
<title><%= yield(:title)%> | ruby on rails tutorial</title>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
